<form [formGroup]="apptForm">
    <div class="time-block">
         <mat-label>Hours</mat-label>
         <div class="time-field">
             <input class="time-input" type="text" formControlName="timeHourDisplay" maxlength="2"  #tmHr>
                 <input hidden type="number" formControlName="timeHour">
                 
             <div class="time-icons">
                 <mat-icon class="time-icon up-icon" (click)="hourRoll( 1)">
                     keyboard_arrow_up</mat-icon>
                 <mat-icon class="time-icon down-icon" (click)="hourRoll(-1)">
                     keyboard_arrow_down</mat-icon>
             </div>
         </div>
         
     </div>
     <div class="time-block">
         <mat-label>Minutes</mat-label>
         <div class="time-field">
             <input class="time-input" type="text" name="timeMinute" formControlName="timeMinDisplay" maxlength="2"  #tmMn>
                 <input hidden type="number" formControlName="timeMin">
             <div class="time-icons">
                 <mat-icon class="time-icon up-icon" (click)="minuteRoll(1)">
                     keyboard_arrow_up</mat-icon>
                 <mat-icon class="time-icon down-icon" (click)="minuteRoll(-1)">
                     keyboard_arrow_down</mat-icon>
             </div>
         </div>
     </div>
     <div class="time-block" *ngIf="hasMeridium">
         <select name="pets" id="pet-select" formControlName="meridiem">
             <option value=0>AM</option>
             <option value=1>PM</option>
         </select>
     </div>
    
     <div *ngIf="apptForm.get('timeHourDisplay')?.hasError('isNotNumber')">
         sdfsdf
   
      </div>
 </form>